.competences {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #1A1A1A;
  color: #E6E6E6;
  padding: 20px;

  .brand {
    font-size: 4rem; /* Augmente la taille pour plus d'impact */
    font-weight: bold;
    color: #00FF00;
    margin-bottom: 1rem;
    max-width: 900px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 1.5rem; /* Augmente la taille pour plus de lisibilité */
    font-weight: 100;
    max-width: 800px; /* Empêche le texte de s'étaler sur toute la page */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #CCCCCC;
    line-height: 1.6;
    padding: 10px 20px; /* Ajoute de l'espace autour du texte */
  }
}
