<section class="home">
  <h1 class="brand">Hi, I am Roland</h1>
  <h2>I AM A QUALITY ASSURANCE AUTOMATION ENGINEER AND A FULL-STACK WEB DEVELOPER.</h2>
  <h3 class="dynamic-container"><span class="dynamic-text">{{ currentText }}</span></h3>
  <p class="intro">
    Passionate about software quality assurance and software engineering in general,
    I am continuously looking for new tech challenges in banking, vocational training, and industry.
    Currently, my main focus is about solving isolation issues on Selenium test frameworks, Bootstrap, AT SCALE.
  </p>
  <a routerLink="/portfolio" class="btn btn-primary">EN SAVOIR PLUS</a>
</section>
