.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #1A1A1A;
  color: #E6E6E6;
  padding: 20px;

  .brand {
    font-size: 6rem; /* Augmente la taille du titre */
    font-weight: bold;
    color: #00FF00;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2rem; /* Augmente la taille du sous-titre */
    font-weight: 100;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    color: #CCCCCC;
    line-height: 1.5;
  }

  .dynamic-container {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem 0;
    color: #FFFFFF;
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
  }

  .dynamic-text {
    color: #00FF00;
    font-weight: bold;
    display: inline-block;
  }

  .intro {
    font-size: 1.1rem;
    max-width: 850px;
    font-weight: 100;
    text-align: center;
    margin: 20px auto;
    line-height: 1.6;
    color: #CCCCCC;
  }

  .btn-primary {
    margin-top: 2rem;
    padding: 14px 28px;
    font-size: 1.2rem;
    background-color: #00FF00;
    color: #1A1A1A;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 255, 0, 0.2);

    &:hover {
      background-color: #CCCCCC;
      color: #1A1A1A;
      transform: scale(1.05);
    }
  }
}
